//Colors

//Primary

$summary-light-red: hsl(0, 100%, 67%);
$summary-orangey-yellow: hsl(39, 100%, 56%);
$summary-green-teal: hsl(166, 100%, 37%);
$summary-cobalt-blue: hsl(234, 85%, 45%);

//Gradients

$background-light-slate-blue: hsl(252, 100%, 67%);
$background-light-royal-blue: hsl(241, 81%, 54%);

$background-circle-violet-blue: hsla(256, 72%, 46%, 1);
$background-circle-persian-blue: hsla(241, 72%, 46%, 0);

//Neutral

$color-white: hsl(0, 0%, 100%);
$color-pale-blue: hsl(221, 100%, 96%);
$color-light-lavender: hsl(241, 100%, 89%);
$color-dark-gray-blue: hsl(224, 30%, 27%);
