//Colors

//Primary

$summary-light-red: hsl(0, 100%, 67%);
$summary-light-red-background: hsla(0, 100%, 67%, 0.1);
$summary-orangey-yellow: hsl(39, 100%, 56%);
$summary-orangey-yellow-background: hsla(39, 100%, 56%, 0.1);
$summary-green-teal: hsl(166, 100%, 37%);
$summary-green-teal-background: hsla(166, 100%, 37%, 0.1);
$summary-cobalt-blue: hsl(234, 85%, 45%);
$summary-cobalt-blue-background: hsla(234, 85%, 45%, 0.1);

//Gradients

$background-light-slate-blue: hsl(252, 100%, 67%);
$background-light-royal-blue: hsl(241, 81%, 54%);

$background-circle-violet-blue: hsla(256, 72%, 46%, 1);
$background-circle-persian-blue: hsla(241, 72%, 46%, 0);

//Neutral

$color-white: hsl(0, 0%, 100%);
$color-pale-blue: hsl(221, 100%, 96%);
$color-light-lavender: hsl(241, 100%, 89%);
$color-dark-gray-blue: hsl(224, 30%, 27%);
$color-dark-gray-blue-span: hsla(224, 30%, 27%, 0.7);
