//Mobile

@media only screen and (min-width: 375px) {
  .mobile-size-container {
    display: grid;
    align-items: center;
    justify-content: center;
  }
}

//Desktop

@media only screen and (min-width: 1200px) {
  .mobile-size-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    width: 50rem;
    margin: 0 auto;
    min-height: 100lvh;
  }

  .result-container {
    background: linear-gradient(
      $background-light-slate-blue,
      $background-light-royal-blue
    );

    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    padding: 1.5rem;
    margin-right: 1rem;
  }
}
