//sizes

.mobile-size-container {
  max-width: 375px;
}
.desktop-size-container {
  max-width: 1440px;
}

//text

.text-center {
  text-align: center;
}

//Attribution

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
