//sizes

.mobile-size-container {
  max-width: 630px;
}

// padding
$pd-small: 1rem;
$pd-1: 1.5rem;

//text

.text-center {
  text-align: center;
}

//Attribution

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
