@import "config";
@import "utilities";

//resets

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

//Results section

.result-container {
  background: linear-gradient(
    $background-light-slate-blue,
    $background-light-royal-blue
  );

  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 1.5rem;
  margin-bottom: 2rem;
}
